.flash-box
  .notice
    %p グループを作成しました
.wrapper
  .side-content
    .side-content__header
      %h5 田沢翔太
      %i.fa.fa-cog
      %i.fa.fa-edit

    .side-content__group-content
      .side-content__group-content--name
        %p グループ名
      .side-content__group-content--message
        %p グループメッセージ
    
    .side-content__group-content
      .side-content__group-content--name
        %p グループ名
      .side-content__group-content--message
        %p グループメッセージ
    
    .side-content__group-content
      .side-content__group-content--name
        %p グループ名
      .side-content__group-content--message
        %p グループメッセージ
    
  .main-content
    .main-content__header
      .main-content__header--name
        %h2 グループ名
        %p Member : 田沢翔太 tazawa shota
      .main-content__header--edit-btn
        %p Edit
    
    .main-content__chat-content
      .main-content__chat-content__chat-body
        .main-content__chat-content__chat-body--name
          %p 田沢翔太
        .main-content__chat-content__chat-body--date
          %p 2019/05/20(Mon) 18:00:00
        .main-content__chat-content__chat-body--txit
          %p テキスト1
      
      .main-content__chat-content__chat-body
        .main-content__chat-content__chat-body--name
          %p tazawa
        .main-content__chat-content__chat-body--date
          %p 2019/05/20(Mon) 19:00:00
        .main-content__chat-content__chat-body--txit
          %p テキスト2

      .main-content__chat-content__chat-body
        .main-content__chat-content__chat-body--name
          %p shota
        .main-content__chat-content__chat-body--date
          %p 2019/05/20(Mon) 20:00:00
        .main-content__chat-content__chat-body--txit
          %p テキスト3
      
    .main-content__footer
      %textarea{ placeholder: 'type a message'}

      .main-content__footer--image
        %i.fa.fa-picture-o

      .main-content__footer--send-btn
        %p Send

        
        


    