$cyan-blue: #38aef0;
$white: #FFFFFF;
$navy: #2f3e51;
$dark-navy: #253141;
$smoke-white: #fafafa;
$dark-gray: #333333;
$sunken-gray: #999999;
$light-blue: #00BFFF;
$dark-blue: #434A54;
$light-gray: #DCDCDC;
